<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/head :: myhead">
<!-- Required meta tags -->
<meta content="text/html" charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div th:insert="layout/header :: header"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-9 d-flex justify-content-center">
				<div class="col-mb-6 mt-4">
					<div class="card border-success mb-3" style="max-width: 18rem;">
						<h4 class="card-header">Datos del Empleado</h4>
						<div class="card-body">
							<h5 th:text="${session.usuario.employee.firstName}+' '+${session.usuario.employee.lastName}+' - '+ ${session.usuario.employee.jobTitle}" class="card-title"></h5>
							<span>Correo: </span><p th:text="${session.usuario.employee.email}" class="card-text"></p>
							<span>Ciudad: </span><p th:text="${session.usuario.employee.officeCode.city}" class="card-text"></p>
							<span>Teléfono: </span><p th:text="${session.usuario.employee.officeCode.phone}" class="card-text"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<aside th:insert="layout/advertising :: aside"></aside>
			</div>
		</div>
	</div>
	<div th:insert="layout/footer :: footer"></div>
</body>
</html>