<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/head :: myhead">
<!-- Required meta tags -->
<meta content="text/html" charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div th:insert="layout/header :: header"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!--  -->
				<div class="border rounded-pill mb-3 mt-4 pb-3 bg-dark-green text-white">
					<h3 class="text-center mt-3">Lineas de Productos</h3>
				</div>
				<div class="row row-cols-1 row-cols-md-1 g-4">
					<div th:each="pline:${productlines}" class="col">
						<div class="card h-100">
							<div class="row g-0">
								<div class="col-md-4 text-center align-self-center">
									<img th:src="*{'data:image/jpeg;base64,'+{pline.image}}"
										class="img-fluid rounded" alt="...">
								</div>

								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title" th:text="${pline.productLine}"></h5>
										<p class="card-text" th:text="${pline.textDescription}"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<aside th:insert="layout/advertising :: aside"></aside>
			</div>
		</div>
	</div>
	<div th:insert="layout/footer :: footer"></div>
</body>
</html>