<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:insert="layout/head :: myhead">
<!-- Required meta tags -->
<meta content="text/html" charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div th:insert="layout/header :: header"></div>
	<div th:if="${mensaje!=null}" class="alert alert-success alert-dismissible fade show" role="alert">
		<strong th:text="${mensaje}"></strong> <a class="alert-link" href="/oficina/lista"> Ver tabla</a>
		<button type="button" class="btn-close" data-bs-dismiss="alert"
			aria-label="Close"></button>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="card mt-4 mb-5 shadow-lg">
					<div class="card-header text-center text-white">
						<h2>Registro de Oficinas</h2>
					</div>
					<div class="card-body">
						<form th:action="@{/oficina/guardar}" th:object="${office}" method="POST">
							<div class="row mb-3">
								<label for="codof" class="col-sm-3 col-form-label fw-bold">Codigo de Oficina</label>
							    <div class="col-sm-9">
							      <input type="text" class="form-control rounded-pill" th:field="*{officeCode}" id="codof" placeholder="Ingrese codigo de oficina" title="Ingrese codigo de oficina">
							    <!-- Message validation -->
							    	<div class="ms-2">
							    		<span class="col-8 form-text text-danger text-center" th:if="${#fields.hasErrors('officeCode')}" th:errors="*{officeCode}"></span>
							    	</div>
							    </div>
							</div>
							<div class="row mb-3">
								<label for="city" class="col-sm-3 col-form-label fw-bold">Provincia</label>
							    <div class="col-sm-9">
							      <input type="text" class="form-control rounded-pill" th:field="*{city}" id="city" placeholder="Ingrese Provincia" title="Ingrese Provincia">
							    <!-- Message validation -->
							    	<div class="ms-2">
							    		<span class="col-8 form-text text-danger text-center" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
							    	</div>
							    </div>
							</div>
							<div class="row mb-3">
								<label for="telefono" class="col-sm-3 col-form-label fw-bold">N° de Telefono</label>
							    <div class="col-sm-9">
							      <input type="text" class="form-control rounded-pill" th:field="*{phone}" id="telefono" placeholder="Ingrese numero de telefono" title="Ingrese numero de telefono">
							    <!-- Message validation -->
							    	<div class="ms-2">
							    		<span class="col-8 form-text text-danger text-center" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
							    	</div>
							    </div>
							</div>
							<div class="row mb-3">
								<label for="direccion" class="col-sm-3 col-form-label fw-bold">Direccion</label>
							    <div class="col-sm-9">
							      <input type="text" class="form-control rounded-pill" th:field="*{addressLine1}" id="direccion" placeholder="Ingrese direccion" title="Ingrese su direccion">
							    <!-- Message validation -->
							    	<div class="ms-2">
							    		<span class="col-8 form-text text-danger text-center" th:if="${#fields.hasErrors('addressLine1')}" th:errors="*{addressLine1}"></span>
							    	</div>
							    </div>
							</div>
							<div class="row mb-3">
								<label for="direccion2" class="col-sm-3 col-form-label fw-bold">Direccion Secundaria</label>
							    <div class="col-sm-9">
							      <input type="text" class="form-control rounded-pill" th:field="*{addressLine2}" id="direccion2" placeholder="Ingrese otra direccion" title="Ingrese otra direccion">
							    </div>
							</div>
							<div class="row mb-3">
								<label for="estado" class="col-sm-3 col-form-label fw-bold">Localidad/Ciudad</label>
							    <div class="col-sm-9">
							      <input type="text" class="form-control rounded-pill" th:field="*{state}" id="estado" placeholder="Ingrese ciudad de residencia" title="Ingrese ciudad de residencia">
							    </div>
							</div>
							<div class="row mb-3">
								<label for="pais" class="col-sm-3 col-form-label fw-bold">País</label>
							    <div class="col-sm-9">
							      <input type="text" class="form-control rounded-pill" th:field="*{country}" id="pais" placeholder="Ingrese Pais" title="Ingrese pais">
							    <!-- Message validation -->
							    	<div class="ms-2">
							    		<span class="col-8 form-text text-danger text-center" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span>
							    	</div>
							    </div>
							</div>
							<div class="row mb-3">
								<label for="codpostal" class="col-sm-3 col-form-label fw-bold">Codigo Postal</label>
							    <div class="col-sm-9">
							      <input type="text" class="form-control rounded-pill" th:field="*{postalCode}" id="codpostal" placeholder="Ingrese codigo postal" title="Ingrese codigo postal">
							    <!-- Message validation -->
							    	<div class="ms-2">
							    		<span class="col-8 form-text text-danger text-center" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></span>
							    	</div>
							    </div>
							</div>
							<div class="row mb-3">
								<label for="territory" class="col-sm-3 col-form-label fw-bold">Territorio</label>
							    <div class="col-sm-9">
							      <input type="text" class="form-control rounded-pill" th:field="*{territory}" id="territory" placeholder="Ingrese territorio" title="Ingrese Barrio">
							     <!-- Message validation -->
							    	<div class="ms-2">
							    		<span class="col-8 form-text text-danger text-center" th:if="${#fields.hasErrors('territory')}" th:errors="*{territory}"></span>
							    	</div>
							    </div>
							</div>
							 <div class="pt-2 text-center">
							 	 <button type="reset"
									class="btn btn-outline-danger rounded-pill">
									Cancelar <i class="bi bi-x-circle-fill"></i>
								</button>
								<button type="submit"
									class="btn btn-outline-success rounded-pill">
									Guardar <i class="bi bi-check-circle-fill"></i>
								</button>
							 </div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<aside th:insert="layout/advertising :: aside"></aside>
			</div>
		</div>
	</div>
	<div th:insert="layout/footer :: footer"></div>
</body>
</html>